* {
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;


}

.nav a {
    font-size: xx-large;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1e87d;
    font-family: Impact;
}

.nav li:hover {
    transform: scale(1.2);
}

.logo {
    padding-top: 20px;
    height: 250px;
}

/* Dates */

.dates {
    font-family: Impact;
    background-color: black;
    border-collapse: collapse;
    width: 100%;

}

.dates td {
    font-size: 24px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    color: rgb(192, 192, 192);
}

.dates th {

    font-family: 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px;
    text-align: left;
    color: black;
    background-color: #f1e87d;
}

#dates tr:hover {
    color: #f1e87d;
}



/* Bio */


.bio_image {
    width: 100%;
}

.bio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;


}

.bio1 {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;

}

.bio2 {
    grid-area: 2 / 1 / 3 / 2;
}

.bio3 {
    grid-area: 2 / 2 / 3 / 3;

}

.bio4 {
    grid-area: 3 / 1 / 4 / 2;

}

.bio5 {
    grid-area: 3 / 2 / 4 / 3;
    padding-bottom: 5%;
}

.bio_image {
    height: auto;
}

.bio_text {
    width: 600px;
    background-color: black;
    color: #f1e87d;
    padding: 30px;
    margin: 30px;
}

/* Music*/
.music {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iframeMusic {
    border-radius: 30px;
    width: 450px;
    height: 350px;
    padding: 25px;

}

/* Footer */

.footer {
    background-color: rgb(0, 0, 0);
    color: white;

}

.social {
    height: 30px;
}



@media all and (max-width:770px) {
   

    .footer {
        height: 120px;
    }

    .logo {
        padding-top: 20px;
        height: 150px;
    }

    .nav li a {
        font-size: x-large;
    }

    .music {
        flex-direction: column;
        justify-content: space-between;
    }

    .iframeMusic {
        border-radius: 30px;
        width: auto;
        padding: 15px;
    }
}

@media all and (max-width:320px) {
    .logo {
        padding-top: 20px;
        height: 80px;
    }
}