header {
    @include flexbox(column, center);

    width: 100%;
    background-color: black;

    .logo {
        padding-top: 20px;
        height: 250px;
    }

    .nav a{
        font-size: map-get($tamanio-tipografia , maxititulo);
        text-decoration: none;
        text-transform: uppercase;
        color: $colorPrincipal;
        font-family: Impact;

        &:hover {
            transform: scale(1.2);
        }
    }

    @media all and (max-width:770px) {
        .logo {
            padding-top: 20px;
            height: 150px;
        }
        .nav a {
            font-size: map-get map-get($tamanio-tipografia , titulo);
        }
    
    }
    @media all and (max-width:320px) {
        .logo {
            padding-top: 20px;
            height: 80px;
        }
}
}

